body, html {
	margin: 0;
	padding: 0;
	background: linear-gradient(135deg, #1a2a6c, #333133, #ffa8de);
}

.welcome-content {
	position: relative;
	top: 50%;
	transform: translateY(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}

.welcome-content h1 {
	font-size: 3rem;
	color: #fff;
	margin-bottom: 1rem;
}

.welcome-content p{
	font-size: 1.2rem;
	color: #ccc;
	margin: 0;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.button {
	padding: 10px 20px;
	background-color: #ffa8de;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
